<%= render layout: 'layouts/app' do %>

    <div class="entry">
        <div class="entry__header">
            <h1 class="entry__title">FutureGov Knowledge Bank</h1>
        </div>

        <div class="entry__grid">
            <section class="entry__content">
                <p>This Knowledge Bank is a central repository that houses the examples, tools, templates, guides, etc that set the standard for what good practice looks like.</p><br/><br/>

                <p><strong>Maintaining this bank:</strong></p>
                <p>Maintainence will happen quarterly.</p>
                <ul class="entry__list">
                    <li>Ask CoP leads and Directors  to submit ‘best of the best examples’</li>
                    <li>Use the product meeting to review.   Invite relevant people</li>
                    <li>Use criteria to determine whether knowledge should be used.</li>
                    <li>Determine the ‘tags’ for the document</li>
                </ul>
            </section>

            <section class="links">
                <h2 class="links__title">Recent changes</h2>
                <ul class="links__list">

                    <% @recently_changed.each do |change| %>
                        <li class="links__link-container">
                            <%= link_to entry_path(change), class: "links__link" do %>
                                <p class="links__link-description"><%= change.title %></p>
                                <p class="links__link-url"><%= time_ago_in_words(change.updated_at) %> ago</p>
                            <% end %>
                        </li>
                    <% end %>

                </ul>
            </section>


        </div>
    </div>
<% end %>
